#container{
    width:100vw;
    height:100vh;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}


#head-box{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    justify-content: center;
    background-color: bisque;
    background-image: url("https://t4.ftcdn.net/jpg/03/35/34/15/360_F_335341530_fn9CKJT39F1sqX5uynUPv0SEv7mzR5gw.jpg");
    font-size: xx-large;
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* #movie-info{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 5;
    display: grid;
    justify-content: center;
} */

#choices{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    justify-content: center;
    background-color: cornflowerblue;
}

#times{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    display: grid;
    justify-content: center;
    background-color: darkolivegreen;
}
#description{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    display: grid;
    justify-content: center;
    background-color:hotpink;
}

#go-to-room{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 5;
    display: grid;
    justify-content: center;
    background-color:lightslategrey;
    background-image: url("https://i.pinimg.com/736x/d9/39/6c/d9396cb4ea4df6ace761f6da1a3dce46.jpg");
}